#!/bin/sh
#SBATCH --job-name={{ job_name }}
#SBATCH --output={{ log_file | /dev/null }} # you can add .%a for array index
#SBATCH --error={{ log_file | /dev/null }}
#SBATCH --mem={{ memory | 18000 }} # on getafix, singularity will only be available if >16GB is requested
#SBATCH --time={{ runtime | 1:00:00 }}
#SBATCH --array=1-{{ n_jobs }}
#SBATCH --cpus-per-task={{ cores | 1 }}

export https_proxy="http://its-ri-proxy01.hpc.dc.uq.edu.au:3128"
cd {{ work_dir | . }}

export aus_bio_sif="/data/uqpdyer/resources/hpc_scratch/r-singularity-aus-bio.img"

export bindpath=${TMPDIR:-""}
export bindpath=${bindpath},/data
export SINGULARITY_BIND=$bindpath
export SINGULARITYENV_APPEND_PATH="/home/${USER}/bin"
singularity exec --env CMQ_AUTH={{auth}} $aus_bio_sif  Rscript --vanilla -e 'clustermq:::worker("{{ master }}") '
