#!/bin/bash
#PBS -A UQ-SCI-SMP  
#PBS -N {{ job_name }}                    
#PBS -l mem={{ memory | 4096 }} 
#PBS -l select=1:ncpus={{ cores | 1 }}    
#PBS -l walltime={{ walltime | 1:00:00 }} 
#PBS -o {{ log_file | /dev/null }}        
#PBS -j oe                                
#PBS -q @awonmgr2                         
module load use.own
module load aus_bio_module
ulimit -v $(( 1024 * {{ memory | 4096 }} ))
CMQ_AUTH={{ auth }} R --no-save --no-restore -e 'clustermq:::worker("{{ master }}")'


# Mostly From https://github.com/mschubert/clustermq/wiki/PBS
